@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@mixin box {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #dbdbdb;
  width: 715px;
}

@mixin input {
  width: 515px;
  border: 1px solid #d0d0d0;
  height: 35px;
  padding: 0 10px;
  background: #fff;
}

@mixin box-left {
  background-color: #f9f9f9;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-left-h2 {
  background-color: #f9f9f9;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
}

.signup {
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .top {
        padding: 30px 0;
        border-bottom: 1px solid #dbdbdb;
        width: 1000px;
        display: flex;
        justify-content: center;
        h2 {
          width: 100%;
          display: flex;
          justify-content: left;
          padding: 0 0 0 20px;
          color: #000;
          font-size: 24px;
          font-weight: bold;
          font-family: 'Noto Sans KR', sans-serif;
        }
      }
      .signup-form {
        display: flex;
        justify-content: center;
        .signup-content {
          .id-box {
            margin-top: 80px;
            border-top: 1px solid #000;
            @include box;
            .id-left {
              @include box-left;
              h3 {
                @include box-left-h2;
              }
            }
            .id-right {
              padding: 12px 20px;
              .id-input {
                @include input();
              }
            }
          }
          .pw-box {
            @include box;
            .pw-left {
              @include box-left;
              h3 {
                @include box-left-h2;
              }
            }
            .pw-right {
              padding: 12px 20px;
              .pw-input {
                @include input();
              }
            }
          }
          .pw-check-box {
            @include box;
            .pw-check-left {
              @include box-left;
              h3 {
                @include box-left-h2;
              }
            }
            .pw-check-right {
              padding: 12px 20px;
              .pw-check-input {
                @include input();
              }
            }
          }
          .name-box {
            @include box;
            .name-left {
              @include box-left;
              h3 {
                @include box-left-h2;
              }
            }
            .name-right {
              padding: 12px 20px;
              .name-input {
                @include input();
              }
            }
          }
          .email-box {
            @include box;
            .email-left {
              @include box-left;
              h3 {
                @include box-left-h2;
              }
            }
            .email-right {
              padding: 12px 20px;
              .email-input {
                @include input();
              }
            }
          }
          .phone-number-box {
            @include box;
            .phone-number-left {
              @include box-left;
              h3 {
                @include box-left-h2;
              }
            }
            .phone-number-right {
              padding: 12px 20px;
              .phone-number-input {
                @include input();
              }
            }
          }
          .address-box {
            @include box;
            .address-left {
              @include box-left;
              h3 {
                @include box-left-h2;
              }
            }
            .address-right {
              padding: 12px 20px;
              .address-input {
                @include input();
              }
            }
          }
        }
      }
    }
  }
}
