@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@mixin box {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #dbdbdb;
  width: 715px;
}

@mixin input {
  width: 515px;
  border: 1px solid #d0d0d0;
  height: 35px;
  padding: 0 10px;
  background: #fff;
}

@mixin box_left {
  background-color: #f9f9f9;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box_left_h2 {
  background-color: #f9f9f9;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
}

@mixin button_default {
  width: 203px;
  height: 55px;
  line-height: 53px;
  font-size: 14px;
  border: 0.9px solid black;
  cursor: pointer;
  margin-top: 50px;
}

.signup {
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .top {
        padding: 30px 0;
        border-bottom: 1px solid #dbdbdb;
        width: 1000px;
        display: flex;
        justify-content: center;
        h2 {
          width: 100%;
          display: flex;
          justify-content: left;
          padding: 0 0 0 20px;
          color: #000;
          font-size: 24px;
          font-weight: bold;
          font-family: 'Noto Sans KR', sans-serif;
        }
      }
      .button {
        display: flex;
        justify-content: center;
        .cancel {
          @include button_default();
          background-color: #fff;
        }
        .signup_submit {
          @include button_default();
          background-color: #000;
          color: #fff;
          font-weight: bold;
        }
      }
      .signup_form {
        display: flex;
        justify-content: center;
        .signup_content {
          .id_box {
            margin-top: 80px;
            border-top: 1px solid #000;
            @include box;
            .id_left {
              @include box_left;
              h3 {
                @include box_left_h2;
              }
            }
            .id_right {
              padding: 12px 20px;
              .id_input {
                @include input();
              }
            }
          }
          .pw_box {
            @include box;
            .pw_left {
              @include box_left;
              h3 {
                @include box_left_h2;
              }
            }
            .pw_right {
              padding: 12px 20px;
              .pw_input {
                @include input();
              }
            }
          }
          .pw_check_box {
            @include box;
            .pw_check_left {
              @include box_left;
              h3 {
                @include box_left_h2;
              }
            }
            .pw_check_right {
              padding: 12px 20px;
              .pw_check_input {
                @include input();
              }
            }
          }
          .name_box {
            @include box;
            .name_left {
              @include box_left;
              h3 {
                @include box_left_h2;
              }
            }
            .name_right {
              padding: 12px 20px;
              .name_input {
                @include input();
              }
            }
          }
          .email_box {
            @include box;
            .email_left {
              @include box_left;
              h3 {
                @include box_left_h2;
              }
            }
            .email_right {
              padding: 12px 20px;
              .email_input {
                @include input();
              }
            }
          }
          .phone_number_box {
            @include box;
            .phone_number_left {
              @include box_left;
              h3 {
                @include box_left_h2;
              }
            }
            .phone_number_right {
              padding: 12px 20px;
              .phone_number_input {
                @include input();
              }
            }
          }
          .address_box {
            @include box;
            .address_left {
              @include box_left;
              h3 {
                @include box_left_h2;
              }
            }
            .address_right {
              padding: 12px 20px;
              .address_input {
                @include input();
              }
            }
          }
        }
      }
    }
  }
}
