.product_list_header {
  display: flex;
  background-color: lime;

  .categories_title {
    display: flex;
    justify-content: space-between;
    background-color: lightpink;
  }

  .filter_button {
    cursor: pointer;
  }

  .categories_option_list {
    display: flex;
    justify-content: space-evenly;
    background-color: lightsalmon;
    & li {
      border-right: 1px solid lightgray;
    }
  }
}

.section_categories_menu_bar {
  display: flex;
  justify-content: column;

  .menu_categories {
    display: flex;
    justify-content: column;
    .name_category {
      font-size: 16px;
    }
    & li a {
      font-size: 16px;
    }
  }
}
