@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  padding: 100px 34px;
  background-color: #fff;
  text-align: center;
  margin-left: 350px;

  .login_header {
    display: flex;
    justify-content: center;
    width: 1280px;
    padding: 40px 0px;

    .login_button_close {
      // background-image: url('../../assets/buttonClose.png');
      background-size: cover;
      width: 18px;
      height: 18px;
    }

    .login_title {
      align-items: center;
      padding-top: 120px;
      margin-right: 80px;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 30px;
      font-weight: 300;
      padding-bottom: 20px;
    }
  }
  .login_body {
    padding: 0 34px 90px 34px;
    margin: 0 -34px;
    .welcome_text {
      padding-bottom: 27px;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 23px;
      font-weight: bold;

      p {
        line-height: 40px;
      }
    }
    .form_login {
      .login_form_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
      }
      .login_id_input,
      .login_pw_input {
        width: 700px;
        height: 70px;
        padding: 0 13px;
        border: 1px solid #707070;
        margin-bottom: 10px;
        color: #000;
        font-size: 25px;
        font-weight: 300;
        letter-spacing: -0.26px;
        line-height: 25px;
      }
      .button_login {
        width: 700px;
        height: 80px;
        padding: 0 13px;
        border: 1px solid #707070;
        background-color: #2a18bd;
        margin-left: 255px;
        color: #fff;
        font-size: 26px;
        font-weight: 300;
        letter-spacing: -0.26px;
        line-height: 25px;
        cursor: pointer;
      }
      .sign_up_button {
        display: flex;
        justify-content: center;
        padding-top: 55px;
        margin-left: 5px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
