/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #d1c5c5;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #9cd3f8;
  --color-yellow: #fff7d1;
  --color-orange: #c47b0e;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 32px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 4px;
}

.nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: lightblue;
  color: var(--color-black);
  padding: 15px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 10;
  /* navbar 은 무슨일이있어도 제일 위에있어야되니까. z-index 10  */

  .nav_logo {
    display: flex;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    justify-content: center;
    align-items: center;
    width: 15%;
    margin: 14px 10px;
  }

  .nav_service_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    width: 65%;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;

    .nav_service_list {
      display: flex;
      align-items: center;
      height: 100px;
      list-style: none;
      margin: 0;
      padding: 0;

      .nav_service_item {
        padding: 8px 12px;
        margin: 0 10px;
        font-size: var(--font-regular);
        cursor: pointer;
        border-radius: var(--size-border-radius);

        &:hover .drop_down_menu {
          opacity: 1;
          visibility: visible;
        }
      }

      & a {
        display: flex;
        padding: 8px 16px;
        text-align: center;
      }
    }
  }

  .drop_down_menu {
    position: absolute;
    left: 0px;
    top: 100px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    //absolute는 부모한테 종속 해주고 기준잡고 이동하기 좋은 방법!

    & li {
      padding: 16px 28px;
      border-bottom: 1px solid black;

      & a {
        color: royalblue;
        text-decoration: none;
      }
    }

    &:hover .drop_down_menu_under_chicken {
      opacity: 1;
      visibility: visible;
    }
  }

  .drop_down_menu_under_chicken {
    position: absolute;
    background-color: yellow;
    opacity: 0;
    visibility: hidden;
    & li {
      padding: 16px 28px;
      border-bottom: 1px solid black;

      & a {
        color: green;
        text-decoration: none;
      }
    }
  }

  .nav_user_menu {
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
    background-color: Green;
    padding: 8px 24px;
    margin: 0 4px;
    font-size: 25px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
  }
}
